<ion-view title="Configuración" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <form id="configuraciN-form5" class="list">
      <label class="item item-input" id="configuraciN-input5">
        <span class="input-label">Nombre</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="configuraciN-input6">
        <span class="input-label">Correo</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <div id="configuraciN-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Distancia para mostrar restaurantes respecto a us ubicación</p>
    </div>
    <form id="configuraciN-form6" class="list">
      <ion-item class="range range-positive" id="configuraciN-range1">Ubicación
        <input value="10" min="0" max="20" step="1" type="range">
      </ion-item>
    </form>
  </ion-content>
</ion-view>