<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item4" ui-sref="menu.navyr" menu-close="" style="">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-icon-left" id="menu-list-item1" ui-sref="menu.miCuenta" menu-close="" style="">
          <i class="icon ion-ios-contact"></i>Mi Cuenta</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item2" ui-sref="menu.misReservas" menu-close="" style="">
          <i class="icon ion-android-calendar"></i>Mis Reservas</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="menu.misReservas" menu-close="" style="">
          <i class="icon ion-share"></i>Compartir App</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item5" ui-sref="menu.misReservas" menu-close="" style="">
          <i class="icon ion-log-out"></i>Cerrar Sesión</ion-item>
      </ion-list>
      <h4 id="menu-heading1" style="color: rgb(0, 0, 0);" class="padding">Navyr:</h4>
      <ion-list id="menu-list2">
        <ion-item class="item-icon-left" id="menu-list-item8" ui-sref="menu.configuraciN" menu-close="" style="">
          <i class="icon ion-settings"></i>Ajustes</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item9" ui-sref="menu.miCuenta" menu-close="" style="">
          <i class="icon ion-android-mail"></i>Contacto</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item10" ui-sref="menu.misReservas" menu-close="" style="">
          <i class="icon ion-android-happy"></i>Acerca de</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>