<ion-view title="Navyr" id="page1" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="navyr-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="navyr-slide24" style="background:url(&quot;img/imagenes2Fpromociones2F-Kb2E5bH8_Bn7Ro8yjZDaltmediatokenef35d7e4-83e5-41ae-b654-530d01b94cc5&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="navyr-slide25" style="background:url(&quot;img/imagenes2Fpromociones2FPROM_-Kb2q8uxquHI0RXED67Raltmediatoken17469395-3ba8-435b-87dd-f133a937072d&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="navyr-slide26" style="background:url(&quot;img/imagenes2Fpromociones2FPROM_-Kb2qbkUp1shmDG_swKtaltmediatoken7415b2dd-bc67-471d-af79-c0690692e76b&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="navyr-form2" class="list">
      <label class="item item-input" id="navyr-search2" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <h4 id="navyr-heading2" style="color: rgb(0, 0, 0);">Top Establecimientos</h4>
    </form>
    <div class="list card listaEstablecimiento" id="navyr-card23">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item id="navyr-list-item21" style="">Item</ion-item>
    </div>
    <div class="list card listaEstablecimiento" id="navyr-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item id="navyr-list-item11" style="">Item</ion-item>
    </div>
    <button id="navyr-button2" style="font-size:-1px;border-radius:8px 8px 8px 8px;" class="button button-light button-large button-icon icon ion-ios-location"></button>
  </ion-content>
</ion-view>